In [5]:
import pandas as pd
from scipy.stats import friedmanchisquare

In [19]:
algorithms = ['SVM', 'DT', 'K-Neighbors','RandomForest','MLP','GradientBoosting']
DataL = ['D','DB1','DB2','labor-relations','heart-disease']
df = pd.DataFrame([[90, 89, 89, 90, 90, 89], [69, 75, 84, 74, 91, 88],[65, 77, 56, 76, 71, 93], [95, 95, 96, 94, 93, 95],[84, 80, 83, 81, 83, 84]], DataL, algorithms)
df

                 SVM  DT  K-Neighbors  RandomForest  MLP  GradientBoosting
D                 90  89           89            90   90                89
DB1               69  75           84            74   91                88
DB2               65  77           56            76   71                93
labor-relations   95  95           96            94   93                95
heart-disease     84  80           83            81   83                84

In [32]:
df_beforetuning = pd.DataFrame([[90, 89, 89, 90, 90, 88], [69, 75, 84, 74, 83, 88], [65, 77, 56, 76, 68, 93], [93, 84, 89, 93, 89, 84], [81, 72, 81, 79, 77, 75]], DataL, algorithms)
df_beforetuning

                 SVM  DT  K-Neighbors  RandomForest  MLP  GradientBoosting
D                 90  89           89            90   90                88
DB1               69  75           84            74   83                88
DB2               65  77           56            76   68                93
labor-relations   93  84           89            93   89                84
heart-disease     81  72           81            79   77                75

In [33]:
df_beforetuning = df_beforetuning.rank(axis=1,ascending=False)
df_beforetuning

                 SVM   DT  K-Neighbors  RandomForest  MLP  GradientBoosting
D                2.0  4.5          4.5           2.0  2.0               6.0
DB1              6.0  4.0          2.0           5.0  3.0               1.0
DB2              5.0  2.0          6.0           3.0  4.0               1.0
labor-relations  1.5  5.5          3.5           1.5  3.5               5.5
heart-disease    1.5  6.0          1.5           3.0  4.0               5.0

In [29]:
df = df.rank(axis=1,ascending=False)
df

                 SVM   DT  K-Neighbors  RandomForest  MLP  GradientBoosting
D                2.0  5.0          5.0           2.0  2.0               5.0
DB1              6.0  4.0          3.0           5.0  1.0               2.0
DB2              5.0  2.0          6.0           3.0  4.0               1.0
labor-relations  3.0  3.0          1.0           5.0  6.0               3.0
heart-disease    1.5  6.0          3.5           5.0  3.5               1.5

In [34]:
#before tuning
spRes_beforetuning = friedmanchisquare(df_beforetuning['SVM'], df_beforetuning['DT'], df_beforetuning['K-Neighbors'],df_beforetuning['RandomForest'], df_beforetuning['MLP'], df_beforetuning['GradientBoosting'])
spRes_beforetuning

FriedmanchisquareResult(statistic=2.018072289156623, pvalue=0.8466387819271007)

In [27]:
spRes = friedmanchisquare(df['SVM'], df['DT'], df['K-Neighbors'],df['RandomForest'], df['MLP'], df['GradientBoosting'])
spRes

FriedmanchisquareResult(statistic=2.453416149068318, pvalue=0.7834937640533933)

In [ ]:
#for friedman at n=5, k=6 and alpha=0.05 the statistic is 10.49, thus the null hypothesis holds true